html {
  font-size: 10px;
}
body {

 
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: black;
  margin: 0;
}

h1 {
  font-size: 4;
  margin-bottom: 0;
}


h2 {
  font-size: 3.25;
}

a {
  color: #477ca7;
}


#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #c6e2b6;
}



img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: #FFFDD0;
  padding: 15px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 3px 0;
}



#headline {
  margin: 50px 0;
  text-align: center;
}
#tribute-info
{
  background:#6CC417;
}
ul {
  max-width: 600px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 570px;
  margin: 0 auto 90px auto;
  text-align: center;
}
cite{
  float:right;
}